<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/doc_ac.css') }}" />-->

  <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicons/favicon.ico">
<meta name="msapplication-TileImage" content="static/assets/img/favicons/mstile-150x150.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!--            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">-->
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_doc.css') }}">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/edit_doc2.css') }}" />


    <title>Edit Details</title>
</head>
<body>
<div class="container">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="account-settings">
			<div class="user-profile">
				<div class="user-avatar">
					<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
				</div>
				<h5 class="user-name">{{ b[0][1] }}</h5>
				<h6 class="user-email">{{ b[0][2] }}</h6>
			</div>
			<div class="about">
				<h5>About</h5>
				<p>I am Doctor</p>
			</div>
		</div>
	</div>
</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
	 <form action="/doctor_edit" method="post">
<div class="card h-100">
	<div class="card-body">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mb-2 text-primary">Personal Details</h6>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="uname">Full Name</label>
					<input type="text" class="form-control" name="uname" placeholder="Enter full name">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" name="email" placeholder="Enter email ID">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="psw">Password</label>
					<input type="password" class="form-control" name="psw" placeholder="Enter password">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="specialist">Specialist</label>
					<input type="text" class="form-control" name="specialist" placeholder="Specialisation">
				</div>
			</div>
		</div>
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mt-3 mb-2 text-primary">Address</h6>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="address">Address</label>
					<input type="text" class="form-control address" name="address" placeholder="Enter Address">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="gender">Gender</label>
					<input type="text" class="form-control" name="gender" placeholder="Gender">
				</div>
			</div>
<!--			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">-->
<!--				<div class="form-group">-->
<!--					<label for="sTate">State</label>-->
<!--					<input type="text" class="form-control" id="sTate" placeholder="Enter State">-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">-->
<!--				<div class="form-group">-->
<!--					<label for="zIp">Zip Code</label>-->
<!--					<input type="text" class="form-control" id="zIp" placeholder="Zip Code">-->
<!--				</div>-->
<!--			</div>-->
		</div>
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
<!--					<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>-->
					        <input type="hidden" name="em" value="{{em }}">
					<button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
				</div>
			</div>
		</div>
	</div>
</div>
	 </form>
</div>
</div>
</div>
</body>
</html>