<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicons/favicon.ico">
<meta name="msapplication-TileImage" content="static/assets/img/favicons/mstile-150x150.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet"  href="{{ url_for('static', filename='assets/css/team.css') }}" >
<!--      <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.css') }}" />-->

    <title>Medicines</title>

</head>
<body>

<h2>Medicines</h2>
<table id="customers">
  <tr>
    <th>Symptom</th>
    <th>Treatment</th>
  </tr>
  <tr>
    <td>Acute and Mild pain</td>
    <td>A: Acetylsalicylic acid 600mg every 4 hours until pain subsides
OR
A: Paracetamol 500- 100mg every 6-8 hours until pain subsides.
<br>Children
A: Paracetamol 15 mg/kg/dose 4–6 hourly when required to a maximum
of 4 doses per 24 hours;</td>
  </tr>
  <tr>
    <td>Severe Pain</td>
    <td>Adult
Adults : C: Tramadol tablets or injection 50-100mg every 6 hours or until pain is controlled.
OR
 C: Morphine 10mg IV every 6 hours on a “when necessary” basis;<br>
Children: 0.2mg/kg body weight IV every 6 hours.
For sugery and obstetric conditions
 C: Pethidine 100mg IM/ IV every 6 hours when necessary.</td>
  </tr>
  <tr>
    <td>Chronic Cancer Pain</td>
    <td>The long-term use of opioids is accepted for patients with pain due to malignant disease. Some
degree of tolerance and physical dependence are likely with long-term use. Therefore, before
embarking on opioid therapy, other options should be explored, and the limitations and risks of
opioids should be explained to the patient</td>
  </tr>
  <tr>
    <td>Migraine Headache</td>
    <td>In acute attack give analgesics:<br>
A: Paracetamol 1g immediately then every 4 hours; Max 4g per day
OR
A: Aspirin 600mg, repeat after 4 hours if needed.
Plus
C: Metroclopramide oral/IM, 10 mg 3 times daily.
<br>In severe attack give:<br>
C: Ergotamine tartrate 1-2 mg, maximum 4mg in 24hours, not to be repeated at
intervals less than 4 days.
<br>For prevention purposes give:<br>
C: Propranolol 80-160mg daily
OR
C: Amitryptiline 10-50mg at night.</td>
  </tr>
    <tr>
    <td>Tension headaches</td>
    <td>A: Aspirin (300-900mg (O) every 4-6 hrs max 4g daily)
OR
A: Ibuprofen (1.2-1.8g daily in 3-4 divided doses preferably after food max dose
2.4g daily, maintenance dose of 0.6-1.2g daily may be adequate.)
OR
A: Paracetamol 1g (O) 8hrly
OR
D: Naproxen 0.5-1g in 1-2 divided daily doses
Massage, and stress management can all be used as adjuncts to t</td>
  </tr>  <tr>
    <td>Cluster headaches</td>
    <td>C: Sumatriptan 6mg; Dose may be repeated after 1 hour. Max dose 12mg a day
OR
C: 100% Oxygen at the rate of 10-15L/min for 10-20 minutes
Prevention of the next cluster headache may include the following:
C: Verapamil 240-960mg (O) 8 -12 hourly divided doses
OR
C: Amitryptiline 25-50 mg (O) daily</td>
  </tr>  <tr>
    <td>Fever</td>
  <td>Give antipyretic medicines: Paracetamol, Ibuprofen or Aspirin</td>
  </tr>  <tr>
    <td>Dehydration</td>
    <td>For some dehydration oral fluid is the most effective to replenish fluid deficit.</td>
  </tr>  <tr>
    <td>Hypoglycemia</td>
    <td>Management of hypoglycemia involves immediately raising the blood sugar to normal,
determining the cause, and taking measures to hopefully prevent future episodes.</td>
  </tr>
</table>

</body>
</html>