<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/account.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.css') }}" />

<!--     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/account.css') }}">-->
    <title>Title</title>
</head>
<body>



  <a href="/chatbot" class="float btn-lg btn-primary rounded-pill hover-top" target="_blank">Chatbot</a>

<div class="topnav">
  <a class="active" href>
      <a class="active"  href="/medicine" target="_blank">Medicines</a>
  <a class="active" href="/logout">Logout</a>

  </a>
</div>

      <h2 class="row justify-content-center fw-bold" style="margin-top:20px;">List of Doctors</h2>

   <div class="row justify-content-center h-50 pt-6 g-6">
       {% for i in data %}
  <div class="col-sm-20 col-md-5" >
    <div class="card h-100 w-100 shadow rounded-1 shadow p-3 p-md-2 p-lg-3 p-xl-5" onclick="window.open('chatDoctor','window');" style="cursor: pointer;">

            <h4>Name: {{i[1]}}</h4>
            <p>Specialist: {{i[5]}}</p>
            <p>Address: {{i[7]}}</p>
            {% if i[6]== 'true' %}
            <p><div class="foo green"></div>Online</p>
            {% else %}
            <p><div class="foo grey"></div>Offline</p>
            {% endif %}

    </div>
    </div>


    {% endfor %}
   </div>
<!--<div class="callout">-->
<!--  <div class="callout-header"></div>-->
<!--  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>-->
<!--  <div class="callout-container">-->
<!--    <p><a href="/chatbot">chatbot</a> </p>-->
<!--  </div>-->
<!--</div>-->

</body>
</html>